<section class="Perks bg-light">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
        <i class="fas fa-glass-cheers" alt="Castle placeholder image" width="32" height="32"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32"> -->
        <h2 class="Perks__heading">Book a castle</h2>
        <p class="Perks__text">Find and book that special castle available around your area of choice.</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-glass-cheers" alt="Anchor placeholder image" width="32" height="32"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32"> -->
        <h2 class="Perks__heading">Party all knight</h2>
        <p class="Perks__text"> Find the castle of your dreams!</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-glass-cheers" alt="Anchor placeholder image" width="32" height="32"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32"> -->
        <h2 class="Perks__heading">Cool castle</h2>
        <p class="Perks__text"> Some random filler text about a castle</p>
      </div><!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-glass-cheers" alt="World placeholder image" width="32" height="32"></i>
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="32" height="32"> -->
        <h2 class="Perks__heading">Another cool castle</h2>
        <p class="Perks__text"> Some random filler text about a castle</p>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->
  </div>
</section>
