.map {
 width: 95vw;
 height: 500px;
 margin: 15px auto;
 border-radius: 15px;
 box-shadow: 0 0 15px lightblue;
 border: 1px solid lightblue;
}

.showpage-map {
  .map {
    width: 450px;
    height: 250px;
    margin-top: 45px;
  }
}

.mapboxgl-popup {
  max-width: 400px;
}

.mapboxgl-popup-content {
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  width: 360px;
}

.mapboxgl-popup-close-button {
  color: #3B10AF;
}
