.map {
 width: 95vw;
 height: 500px;
 margin: 15px auto;
 border-radius: 15px;
 box-shadow: 0 0 15px lightblue;
 border: 1px solid lightblue;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
