.navbar-lewagon {
  margin-bottom: -50px;
  justify-content: space-between;
  background: white;
  font-size: 20px;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
