<div class="navbar-space">

<h1>Castles to rent!</h1>

<p>Find out more about a castle by clicking on its name! </p>

  <div class="cards_grid">
    <%# img %>
    <div class="card_product">
      <% @castles.each do |castle| %>
      <p>Name:<%= link_to castle.name, castle_path(castle)  %></p>
      <p>Address: <%= castle.address %></p>
      <p>Price: <%= castle.price %></p>
      <% end %>
    </div>

</div>
